:root {
  --red: #ed6e58;
  --beige: #e8b9b0;
}

* {
  box-sizing: border-box;
  /* border: 1px solid white; */
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-size: auto auto;
  background-color: rgba(40, 33, 33, 1);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 1) 10px,
    rgba(0, 0, 0, 1) 20px
  );
  padding: 15px;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: var(--red);
  text-align: center;
  padding-top: 15px;
}

h1 {
  background-color: bisque;
  width: 50%;
  border-radius: 0 5px 5px 0;
  padding: 25px;
}

main {
  background-color: var(--beige);
}

hr {
  background-color: black;
}

.seperator__horizontal {
  height: 6px;
  background-color: black;
}

.seperator__vertical {
  background-color: black;
  width: 0;
}
