.aboutme {
  display: flex;
}

.aboutme__img {
  max-width: 250px;
  margin-top: 5px;
}

.aboutme__text {
  background-color: #fe9886;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.2em;
  margin: 20px;
}

.aboutme__button {
  display: block;
  margin-left: auto;
  background-color: black;
  color: rgb(232, 159, 100);
}
