.mainsegment {
  display: grid;
  grid-template-columns: 2fr 8px 1fr;
}

.sidesegment {
  transition: background-color 1000ms linear;
  background-color: rgba(0, 0, 0, 0.426);
  margin: 15px;
}

.sidesegment--orange {
  background-color: #e54023;
}

.interests {
  padding: 15px;
  display: grid;
  grid-template-areas:
    "one one one two"
    "three four four two"
    "three . five five"
    "six six five five ";

  gap: 10px;
}

.interests__card {
  transition: background-color 1000ms linear;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.interests__one {
  background-color: #ed6e58;
  grid-area: one;
}

.interests__two {
  background-color: #ed6e58bd;
  grid-area: two;
}
.interests__three {
  background-color: #e54023;
  grid-area: three;
}

.interests__four {
  background-color: #974435;
  color: white;
  grid-area: four;
  transition: color 2000ms linear;
}

.interests__six {
  background-color: #c14f3b;
  grid-area: six;
}

.interests__five {
  background-color: #ff4305;
  grid-area: five;
}

.interests__card--grey {
  background-color: grey;
  color: black;
}
